<header class="p-4 bg-dark headercol-md text-white fixed-top">
  <div class="headercol-md">
    <div
      class="d-flex flex-wrap headercol-md align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <svg
          class="bi me-2"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        ><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="/admin" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a
            href="/admin/users"
            class="nav-link px-2 text-white"
          >Users</a></li>
        <li><a href="/admin/adduser" class="nav-link px-2 text-white">Add Users</a></li>
        {{! <li><a href="/card" class="nav-link px-2 text-white">Card</a></li>  }}

      </ul>

      <span
        class="text-white text-center p-1 col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 mt-2 headercol-md"
      >Hi,<strong>Admin</strong></span>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">

      </form>

      <div class="text-end">

        <a
          type="button"
          class="btn btn-outline-danger logoutBTN"
          href="/admin/logout"
        >Log Out</a>
      </div>
    </div>
  </div>

</header>
<div>
  <div
    class="bg-dark text-secondary px-4 text-center"
    style="min-height: 88vh;margin-top: 150px;"
  >
    <div class="imgdiv" style="height: 100vh;">
      <div class="container">
        <div class="row">
          <div class="col-11 col-sm-11 col-md-7 col-lg-5 m-auto">
            <form
              id="contact-form"
              action="/admin/adduser"
              method="post"
              role="form"
              enctype="application/x-www-form-urlencoded"
            >

              <legend class="primary text-primary my-4">Enter new user details</legend>

              <div class="form-group my-4">
                <label class="text-white" for="first_name">Username</label>
                <input
                  type="text"
                  class="form-control"
                  name="UserName"
                  id="first_name"
                  placeholder="First Name"
                />
              </div>
  <div class="form-group my-4">
                <label class="text-white" for="first_name">Email</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="first_name"
                  placeholder="Email"
                />
              </div>
              <div class="form-group my-4">
                <label class="text-white" for="pw">Password</label>
                <input type="password" class="form-control" name="pw" id="pw"placeholder="password" />
              </div>

              <button type="submit" class="btn btn-primary my-4 col-12">Add user</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>