<div class="row">
  <div class="col-md-6 m-auto">
    <div class="container" style="padding-top: 15%;">
      <h2 class="text-primary text-center">Edit User</h2>
      <form
        action="/admin/updateuser/{{userData._id}}"
        id="updateuser"
        method="post"
      >

        <div class="form-group">
          <label class="text-primary">Enter username</label>
          <input
            type="text"
            class="form-control"
            name="UserName"
            value="{{userData.UserName}}"
            placeholder="Enter username"
          />
        </div>
<div class="form-group">
          <label class="text-primary">Enter Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            value="{{userData.email}}"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label class="text-primary">Enter Password</label>
          <input
            type="text"
            class="form-control"
            name="pw"
            value="{{userData.pw}}"
            placeholder="Enter password"
          />
        </div>
        <button
          type="submit"
          class="col-12 mt-4 btn btn-primary"
        >Update</button>
      </form>
    </div>
  </div>
</div>