

<header class="p-3 bg-dark text-white fixed-top">
    <div class="">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mt-0 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="/table" class="nav-link px-2 text-white">Table</a></li>
          <li><a href="/list" class="nav-link px-2 text-secondary">Lists</a></li>
          <li><a href="/card" class="nav-link px-2 text-white">Card</a></li>
          
        </ul>

<span class"text-secondary text-center">Hi,{{user}}</span>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          
        </form>

        <div class="text-end">
         
          <a type="button" class="btn btn-outline-danger" href="/logout">Log Out</a>
        </div>
      </div>
    </div>
   
  </header>
  <div class="bg-dark text-secondary  px-4 py-5 " style="min-height: 90vh; margin-top:150px ;">

<ul class="list-group bg-dark m-auto col-lg-8 col-10 ">
     
{{#each users}}
  <li class="list-group-item">{{@index}}.{{this}}</li>
{{/each}}
</ul>
  </div>
