<div>
<div class="py-5 imgdiv " style="height: 100vh;">
  <div class="container">
    <div class="row">
      <div class="col-11 col-sm-11 col-md-7 col-lg-5 m-auto ">
        <form
        id="contact-form"
          action="/login"
          method="POST"
          role="form"
          enctype="application/x-www-form-urlencoded"
        >
          {{#if logout}}
          
            <div class="alert alert-success alert-dismissible fade show" role="alert">
   You Have Logged Out <strong>Successfully</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
          {{/if}}
          {{#if err}}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
   <strong>{{err}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
          {{/if}}
           {{!-- {{#if bstatus==false}}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
   Username is <strong>blocked</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
          {{/if}} --}}
          <legend class="primary text-primary my-4">Please Log In Here</legend>

         <div class="form-row d-flex justify-content-center">
             
          <div class="col-lg-10 py-3 text-center">
            <label class="text-white" for="first_name">Username</label>
            <input
              type="text"
              class="form-control"
              name="UserName"
              id="first_name"
              placeholder="First Name"
              
            />
          </div>
          </div>

          <div class="form-row d-flex justify-content-center">
             
          <div class="col-lg-10 py-3 text-center">
            <label class="text-white" for="pw">Password</label>
            <input
              type="password"
              class="form-control"
              name="pw"
              id="pw"
             placeholder="Password"
            />
          </div>
          </div>
          <div class="form-row d-flex justify-content-center">
             
          <div class="col-lg-10 py-3 text-center">
          <div><button type="submit" class="btn btn-primary my-4 col-12">Log In</button></div>
</div></div>
          <div class="form-row d-flex justify-content-center">
           <div class="col-lg-10 py-3 text-center">
            <label class="text-white" for="first_name"><a href="/signuppage">Create New Account</a></label>
<a href="/signuppage"><button type="button" class="btn btn-success my-4 col-12">Sign Up Here</button></a>
</div>
</div>
        </form>

      </div>
    </div>
  </div>
</div>