<div>
<div class="py-5 imgdiv " style="height: 100vh;">
  <div class="container">
    <div class="row">
      <div class="col-11 col-sm-11 col-md-7 col-lg-5 m-auto ">

        <form
        id="contact-form"
          action="/signup"
          method="post"
          role="form"
          enctype="application/x-www-form-urlencoded"
        >
          
          {{#if   Userexisterr}}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
   Username Already <strong>Exist</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
          {{/if}}
          {{#if   cperr}}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
   Password <strong>doesNOT Match</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
          {{/if}}
          <legend class="primary text-success my-4">Please Sign Up Here</legend>

          <div class="form-row d-flex justify-content-center">
            <div class="col-lg-10 py-3 text-center">
              <label class="text-white " for="first_name">Username</label>
            <input
              type="text"
              class="form-control"
              name="UserName"
              id="first_name"
              placeholder="First Name"
              
            />
            </div>
            
          </div>

         
          <div class="form-row d-flex justify-content-center">
             
          <div class="col-lg-10 py-3 text-center">
            <label class="text-white" for="email">E-mail</label>
            <input
              type="text"
              name="email"
              placeholder="Email"
              class="form-control"
              id=""
            />
          </div>
        </div>
 <div class="form-row d-flex justify-content-center">
            <div class="col-lg-10 py-3 text-center">
            <label class="text-white" for="pw">Password</label>
            <input
              type="password"
              class="form-control"
              name="pw"
              id="pw"
              placeholder="Password"
            />
          </div>
          </div>
 <div class="form-row d-flex justify-content-center">
          <div class="col-lg-10 py-3 text-center">
             <label class="text-white" for="pw">Confirm Password</label>
            <input
            id="cpassword"
              type="password"
               name="cpw"
              placeholder="Confirm Password"
              class="form-control"
            />
          </div>
        </div>

        <div class="form-row d-flex justify-content-center ">
          <div class="col-lg-10"><button type="submit" class="btn btn-success my-4 col-12 ">Sign Up</button></div>
        </div>
         <div class="form-row d-flex justify-content-center">
         <label class="text-white text-lg" for="first_name"><a href="/login">Already a User</a></label>
         <div class="col-lg-10 py-3  text-center">
              
              <a href="/login"><button type="button" class=" btn btn-primary   col-12 ">Log In Here</button></a>
</div>
</div>
</div>

        </form>

      </div>
    </div>
  </div>
</div>